html{
    font-family: 'Philosopher', sans-serif;
    letter-spacing: .9px;
    line-height: 133%;
    font-size: 1.2em;
    
}
body{
background-size: 100%;

}
.content{
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    overflow: hidden;
    position: relative;
    word-wrap: break-word;
    background: rgb(255, 255, 255, 0);
    text-align: left;
}
.toptab > ul{
        background: rgb(255, 255, 255);

}
.ui-tabs .ui-state-default{
	display:inline;
    margin: 0px 20px;
	}
.ui-tabs > ul{ 
    padding:5px;
}
.ui-tabs-nav a{
	text-decoration: none;
	font-family: 'Limelight', cursive;
	}
.ui-tabs-nav{
    padding-bottom:15px;
    margin:0px;
}
.ui-tabs-nav .ui-state-default a { 
font-family: 'Limelight', cursive;
font-size: 1.4em;
    color: #666;
	} 
.ui-tabs-nav .ui-state-active a { 
	font-weight: bold;
    color: #463C3C;
	}
.tabs{
text-align: center;
}
.left-align{
text-align:left;
}
.tabs > ul{
    border-style: solid;
    border-width:0px;
    padding-top: 25px;
    padding-bottom: 25px;
}

.Header {
color: rgb(255, 255, 255, 255);
font-family: 'Limelight', cursive;
font-size: 72px;
font-weight: 700;
line-height: 100px;
margin-bottom: 50px;
text-align: center;
}

.imageblock img {/*margin-top: 50px;
height: 150px;
display: inline;
margin-bottom: 50px;*/
}

h2{
color: rgb(88, 77, 77);
font-family: 'Limelight', cursive;
font-stretch: normal;
font-style: normal;
font-variant: normal;
font-weight: 400;
letter-spacing: 0;
line-height: 25px;
margin-bottom: 0px;
margin-left: 0px;
margin-right: 0px;
margin-top: 0px;
opacity: 1.00;
padding-bottom: 0px;
padding-top: 0px;
text-decoration: none;
text-indent: 0px;
text-transform: none;}

.tabs2> ul li{
	display:inline;
    margin: 0px 0px;

}

h3{
    font-family: 'Limelight', cursive;
}

.tabs2> div{
    padding:5px;
    padding-bottom: 40px;
}

.assigned_reading{
padding: 10px 0px;
border-radius: 10px;
background-color: #E06363;
color: white;
}
.assigned_reading ul{
list-style-type: none;
text-align:left;
}
.modules{
margin-top:10px;
padding: 10px 0px;
border-radius: 10px;
background-color: #73C98D;
color: white;
}
.modules ul{
list-style-type: none;
text-align:left;
}
.modules a{
color: white;
}
.lab_resources {
margin-top:10px;
padding: 10px 0px;
border-radius: 10px;
background-color: #41D1D1;
color: white;
}
.lab_resources ul{
list-style-type: none;
text-align:left;
}
.lab_resources a{
color: white;
}
.exams {
margin-top:10px;
padding: 10px 0px;
border-radius: 10px;
background-color: #E88833;
color: white;
}
.exams ul{
list-style-type: none;
text-align:left;
}
.announcements{
margin-top:10px;
padding: 10px 0px;
border-radius: 10px;
color: white;
}
.announcements ul{
list-style-type: none;
text-align:left;
}
#useful_links{
text-align:left;
}
#useful_links a{
    text-decoration:none;
    margin-top:10px;
    font-weight:bold;
}
#useful_links h2{
    margin-bottom:20px;
    margin-top:20px;
    border: 0px;
    border-bottom: 1px;
    border-style: solid;
}
#useful_links p{
    margin:0px;
    font-size: 80%;
}
.ulink {
    margin-top:15px;
}

footer{
    clear: left;
    margin-top:50px;
    text-align: center;
    font-size: 12px;
}

footer span{
    padding: 10px;
    white-space:nowrap;
    background: rgb(255, 255, 255);
}

p{
    text-align: justify;
}

.clearfix {
    overflow: auto;
}

.left {
    float: left;
}

.right {
    float: right;
}



.rounded {
    border-radius: 12px;
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;
}

.row{
    display: flex;
}

.col {
    flex: 1;

}

.white {
    background: rgb(255, 255, 255);
}
.tabs2{
    background-color: rgba(255,255,255,0.8);
}

.text_block {
    padding: 1em;
    margin: 10px;
}



.container{
    width: 500px;
    margin: 20px auto 0 auto;
}

.coming_soon{
    padding-bottom: 100px;
    font-size:100px;
}

.three_images > img{

    height:200px; 
    border: 0px solid rgb(255,255,255);
}

.three_images_container {
    margin-left: auto;
    margin-right: auto;
    width: 63%;
    padding-top:40px;

}

.three_images_2 > img{
    width:90%;
}​